This is the page to add a reviewer

{#
If your form includes a URLField, an EmailField
or any integer field type, Django will use the url,
email and number HTML5 input types. By default,
browsers may apply their own validation on these fields,
which may be stricter than Django’s validation.
If you would like to disable this behavior, set the novalidate
attribute on the form tag, or specify a different widget
on the field, like TextInput.
#}
<a href="{% url 'reviews:revieweradd' %}">using url name to loop back here for example</a>

<form method="post" action="{% url 'reviews:revieweradd' %}">
    {%csrf_token%}
    {#form.first_name.label_tag#}
    {#form.first_name#}
    {{form}}
    <input type="submit" value="submit form"/>
</form>